html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.perrent {
    display: flex;
    align-content:center;
    flex-direction:column;
    border-style:solid;
    border-color:darkgray;
    background-color:white;
    margin:20px;
    padding:20px;
    width:500px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.menu-aitem{
    border-style:solid;
    border-color:red;
    padding:5px;
    margin:5px;
    width:200px;
    height:100px;
}


