@model IEnumerable<EfLesson.ViewModels.MenuViewModel>

@if (Model!= null && Model.Count() > 0)
{
    @foreach (var p in Model)
    {
        <div class="perrent">
            <div class="conteiner">
              <div class="menu-aitem menu-product-photo">@p.ProductPhoto</div>
              <div class="menu-aitem menu-product-name">@p.ProductName</div>
              <div class="menu-aitem menu-product-category">@p.ProductCategory</div>
              <div class="menu-aitem menu-product-price">@p.ProductPrice</div>
                <button>Add basket!</button>
            </div>
        </div>

    }
}

}
